* {
  box-sizing: border-box;
}

/* resetting */
a {
  text-decoration: none;
}

figure {
  margin: 0;
}

header,
footer,
section {
  padding: 1rem 10rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 2px solid #e2e8f0;
  display: flex;
  align-items: center;
}

header > div {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header h1 {
  margin-left: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 0.5rem;
}

/* sections` */
section {
  background-color: #edf2f7;
  /* background-color: #f7fafc; */
  /* background-color: rgb(237, 242, 247); */
}

.main {
  display: flex;
}

.main-info {
  margin-left: 2rem;
}

.main-info h3 {
  margin-top: 0;
}

.main-img img {
  border-radius: 4px;
}

.main-img figcaption {
  margin-top: 1rem;
  color: #2d3748;
}

.main-options img {
  margin-top: 1rem;
  margin-left: 1rem;
}

.main-options img:hover {
  transform: scale(1.25);
  filter: opacity(0.5);
}

#related img {
  border-radius: 4px;
  margin-right: 1.5rem;
  /* width: 300px; */
}

.review {
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  border-top: 2px solid #e2e8f0;
}

.review div {
  display: flex;
  align-items: center;
}

.review img {
  margin-right: 0.5rem;
}

footer {
  border-top: 2px solid #e2e8f0;
}
